
<form class="example-container" >
<mat-form-field appearance="fill" >
    <mat-label>Films</mat-label>
    <mat-card-content>
  <h3>Films</h3>
      <tl-film-list-item *ngIf="items?.length > 0"
                          [dataSource]="items"
                          (delete)="deleteFilm($event)">
      </tl-film-list-item>
    </mat-card-content>

<mat-card-actions>
  <form class="example-container" [formGroup]="options">
      <mat-form-field appearance="fill" [id]="idControl.value">
          <mat-label>Id</mat-label>
          <mat-select [formControl]="idControl">
          <button *ngIf="idControl.value" matSuffix mat-icon-button aria-label="Clear"
                  (click)="idControl.setValue(null)">
              <mat-icon>close</mat-icon>
          </button>
        </mat-select>
      </mat-form-field>
      &nbsp; 

      <mat-form-field class="example-form-field" appearance="fill">
          <mat-label>Denimonation</mat-label>
          <mat-select [formControl]="denominationControl">
          <button *ngIf="denominationControl.value" matSuffix mat-icon-button aria-label="Clear"
                  (click)="nameControl.setValue(null)">
              <mat-icon>close</mat-icon>
          </button>
        </mat-select>
      </mat-form-field>
      &nbsp;
 
      <mat-form-field class="example-form-field" appearance="fill">
          <mat-label>DateStart</mat-label>
          <mat-select [formControl]="dateStartControl">
          <button *ngIf="dateStartControl.value" matSuffix mat-icon-button aria-label="Clear"
                  (click)="dateStartControl.setValue(null)">
              <mat-icon>close</mat-icon>
          </button>
        </mat-select>
      </mat-form-field>
      &nbsp;
 
      <mat-form-field class="example-form-field" appearance="fill">
          <mat-label>Company</mat-label>
          <mat-select [formControl]="companyControl">
          <button *ngIf="companyControl.value" matSuffix mat-icon-button aria-label="Clear"
                  (click)="companyControl.setValue(null)">
              <mat-icon>close</mat-icon>
          </button>
        </mat-select>
      </mat-form-field>
      <button mat-flat-button color="accent" (click)="addItem()">Create</button>
      <button style="margin: 0px 10px" mat-flat-button color="primary" (click)="deleteFilm($event)">Delete</button>
  </form>
</mat-card-actions>